[Desktop Entry]
Version=1.0
Icon=dolphin-emu
Exec=dolphin-emu
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Fin
GenericName=GameCube/Wii Emulator
Comment=GameCube/Wii Emulator
